In [1]:
import numpy as np
import pandas as pd

In [2]:
csv = pd.read_csv('./papul.csv')

In [3]:
csv

,idx,세계,한국,미국,중국,일본,북한,인도,기타,한국_r,미국_r,중국_r,일본_r,북한_r,인도_r,기타_r
0,0,8045311477,51558034,339996563,1425671352,123294513,26160821,1428627663,4650002531,-0.000017,0.000009,0.000018,-0.000019,0.000028,0.00002,0.000026

In [9]:
for idx, data in csv.iterrows():
    total = data.세계
    
    contry_rate = (data[2:9] / total)
    
    next_popul = int(total * np.random.normal(0.5, 0.05))
    print(next_popul)
    
    a = np.random.choice(contry_rate.index, p=contry_rate.values, size=100)
    
    print(a)

3574153420
['기타' '인도' '인도' '인도' '기타' '기타' '기타' '중국' '기타' '중국' '기타' '중국' '기타' '인도'
 '기타' '인도' '기타' '인도' '중국' '인도' '기타' '기타' '기타' '중국' '인도' '기타' '중국' '인도'
 '인도' '기타' '기타' '한국' '기타' '기타' '기타' '인도' '기타' '기타' '인도' '중국' '기타' '인도'
 '기타' '기타' '인도' '기타' '기타' '기타' '기타' '인도' '기타' '인도' '기타' '인도' '기타' '기타'
 '인도' '미국' '기타' '기타' '기타' '기타' '인도' '기타' '기타' '기타' '인도' '기타' '인도' '중국'
 '기타' '인도' '인도' '기타' '기타' '인도' '기타' '인도' '기타' '중국' '일본' '중국' '중국' '중국'
 '인도' '기타' '기타' '기타' '인도' '기타' '기타' '기타' '인도' '기타' '기타' '인도' '일본' '기타'
 '인도' '기타']